<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastro Aluno - Update</title>
    <script>
        function limpa_formulário_cep() {
            document.getElementById('logra').value = ("");
        }

        function meu_callback(conteudo) {
            if (!("erro" in conteudo)) {
                document.getElementById('logra').value = (conteudo.logradouro);
            }
            else {
                limpa_formulário_cep();
                alert("CEP não encontrado.");
            }
        }

        function pesquisacep(valor) {
            var cep = valor.replace(/\D/g, '');

            if (cep != "") {
                var validacep = /^[0-9]{8}$/;

                if (validacep.test(cep)) {
                    document.getElementById('logra').value = "...";
                    var script = document.createElement('script');
                    script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';
                    document.body.appendChild(script);
                }
                else {
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            }
            else {
                limpa_formulário_cep();
            }
        };
    </script>
</head>

<body>
    <h1>Editar Aluno</h1>

    <h2>
        <form action="/edit/{{aluno.ra}}" method="POST">
            <label>Nome</label>
            <input type="text" required="" name="nome" size="40" value="{{aluno.nome}}"><br />
            <label>E-mail</label>
            <input type="email" required="" name="email" size="40" value="{{aluno.email}}"><br />
            <label>CEP</label>
            <input type="text" required="" name="cep" size="40" id="cep" value="{{aluno.cep}}" maxlength="9"
                onblur="pesquisacep(this.value);"><br />
            <label>Logradouro</label>
            <input type="text" required="" name="logra" size="40" id="logra" value="{{aluno.logradouro}}"
                readonly=""><br />
            <label>Nº</label>
            <input type="text" required="" name="num" size="40" value="{{aluno.numero}}"><br />
            <label>Complemento</label>
            <input type="text" name="compl" size="40" value="{{aluno.complemento}}"><br />
            <br />
            <button type="submit">Atualizar dados</button>
        </form>
    </h2>
    <style>
        body {
            text-align: center;
        }

        label {
            display: inline-block;
            width: 140px;
            text-align: right;
        }
    </style>
</body>

</html>